#blob {
  background-color: black;
  height: 180px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(255, 255, 0), rgb(85, 16, 221));
  filter: blur(100px);
  animation: rotate 50s infinite;
}
#background {
  background-color: black;
  height: 100vh;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.8;
  }
  30% {
    scale: 2 1.8;
  }
  to {
    rotate: 360deg;
  }
}
