#blob {
  background-color: black;
  height: 150px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 50s infinite;
  filter: blur(50px);
}
#background {
  background-color: black;
  height: 100vh;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.8;
  }
  to {
    rotate: 360deg;
  }
}
